.gradient-background {
    background: linear-gradient(90deg, #fd94ca, #baa6dd, #8eb0e6, #41c0f5); /* Adjust colors for your gradient */
    width: 100%;
  height: auto;
  }

a{
  text-decoration: none;
  cursor: pointer;
  color: white !important;
}