.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #f5f6f9;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  input:focus, textarea:focus {
    border-color: #00bfff;
    outline: none;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background: none;
    color: #666;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .save-btn {
    background-color: #baa6dd;
    color: #666;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between spinner and text */
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
  }
  
  button:disabled {
    background-color: #e6dbf9;
    cursor: not-allowed;
  }

  .link{
    color: #00dc91;
    cursor: pointer;
    text-decoration: none;
  }

  .spinner {
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-top: 2px solid #000; /* Spinner color */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  